/* Title and Headings CSS Properties */

 .title {
    text-align: center;
    color: #212EA0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
    margin-top: -40%;
    margin-left: 10%;
}

.title h2 {
    font-size: 32px;
    color: #000F38;
    margin-top: 5px;
    text-transform: none;
} 


/* -----media query ----------*/

@media (max-width: 800px){
    .partner{
        padding: 0 40px;
        margin-top: -400%;
    }
}